/*.app-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: normal;*/
/*    align-items: normal;*/
/*    align-content: normal;*/
/*    height: 100vh;*/
/*    font-family: sans-serif;*/
/*}*/

#header {
    height: 10vh;
}
#footer {
    height: 6vh;
}

.main {
    height: 84vh;
}

#menu {
    width: 20%;
}
#content {
    width: 80%;
}
